<!DOCTYPE html>
<html>
<head>
    <title>List of Members</title>
</head>
<body>
    <h1>List of Members</h1>
    <ul>
        {% for member in members %}
            <li>
                {{ member.name }} (Email: {{ member.email }}) - Debt: Rs. {{ member.debt }}
                <a href="{{ url_for('edit_member', id=member.id) }}">Edit Member</a>
                <form style="display: inline;" method="POST" action="{{ url_for('delete_member', id=member.id) }}">
                    <input type="submit" value="Delete Member">
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_member') }}">Add a Member</a><br>
    <a href="{{ url_for('index') }}">Back to Homepage</a>
</body>
</html>

